:root {
  --font-family-inter: 'Inter', sans-serif;
  --text-black: rgba(0, 0, 0, 1);
  --text-rgb-85-85-85: rgba(85, 85, 85, 1);
  --text-rgb-17-17-17: rgba(17, 17, 17, 1);
  --text-white: rgba(255, 255, 255, 1);
}

.text-black {
  color: var(--text-black);
}

.text-rgb-85-85-85 {
  color: var(--text-rgb-85-85-85);
}

.text-rgb-17-17-17 {
  color: var(--text-rgb-17-17-17);
}

.text-white {
  color: var(--text-white);
}


/* CSS Reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  overflow-x: hidden;
}

img {
  max-width: 100%;
  height: auto;
}

.text-3 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 60px;
  letter-spacing: -1.6399999856948853px;
  line-height: 72px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.text-4 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 36px;
  letter-spacing: -1px;
  line-height: 72px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-85-85-85);
}

.wireframe-2-2 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.text-7 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 60px;
  letter-spacing: -1.6399999856948853px;
  line-height: 72px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.vector-3-8 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(17, 17, 17, 1);
  border: none;
  outline: none;
}

.frame-2136137181-6 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 79.16666666666666%;
}

.text-14 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.image-3-16 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.frame-2-15 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(241, 243, 245, 1);
  border-radius: 24px;
}

.frame-2136137174-13 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 94.82758620689656%;
}

.text-17 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137176-12 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-37672106-18 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 24px;
  width: 100%;
  height: auto;
}

.text-20 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-2136137178-19 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 24px 12px 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 40px;
}

.frame-2136137175-11 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 189px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.card-10 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 24px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 33.68421052631579%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 47px;
}

.text-25 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.image-3-27 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.frame-2-26 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(241, 243, 245, 1);
  border-radius: 24px;
}

.frame-2136137174-24 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 94.82758620689656%;
}

.text-28 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137176-23 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-37672106-29 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 24px;
  width: 100%;
  height: auto;
}

.text-31 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-2136137178-30 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 24px 12px 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 40px;
}

.frame-2136137175-22 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 189px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.card-21 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 24px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 33.68421052631579%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 47px;
}

.text-36 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.image-3-38 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.frame-2-37 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(241, 243, 245, 1);
  border-radius: 24px;
}

.frame-2136137174-35 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 94.82758620689656%;
}

.text-39 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137176-34 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-37672106-40 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 24px;
  width: 100%;
  height: auto;
}

.text-42 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-2136137178-41 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 24px 12px 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 40px;
}

.frame-2136137175-33 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 189px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.card-32 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 24px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 33.68421052631579%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 47px;
}

.text-47 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.image-3-49 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  width: 100%;
  height: auto;
}

.frame-2-48 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(241, 243, 245, 1);
  border-radius: 24px;
}

.frame-2136137174-46 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 94.82758620689656%;
}

.text-50 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137176-45 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 12px;
  padding: 12px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.rectangle-37672106-51 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 24px;
  width: 100%;
  height: auto;
}

.text-53 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.frame-2136137178-52 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 12px 24px 12px 24px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(238, 238, 238, 1);
  border-radius: 40px;
}

.frame-2136137175-44 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 189px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.card-43 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 10px;
  padding: 24px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 33.68421052631579%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 47px;
}

.frame-2136137180-9 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 32px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 79.16666666666666%;
}

.frame-2136137179-5 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 40px;
  padding: 80px 200px 80px 200px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(223, 229, 236, 1);
}

.text-56 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 60px;
  letter-spacing: -1.6399999856948853px;
  line-height: 72px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.vector-3-57 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(17, 17, 17, 1);
  fill: rgba(17, 17, 17, 1);
  border: none;
  outline: none;
}

.frame-2136137181-55 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 79.16666666666666%;
}

.rectangle-37672107-58 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-radius: 48px;
  width: 100%;
  height: auto;
}

.text-60 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 28px;
  line-height: 40px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137183-59 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 180px 0px 100px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 79.16666666666666%;
}

.frame-2136137182-54 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  padding: 40px 200px 40px 200px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}

.text-64 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 60px;
  letter-spacing: -1.6399999856948853px;
  line-height: 72px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.vector-3-65 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(17, 17, 17, 1);
  border: none;
  outline: none;
}

.frame-2136137184-63 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  width: 100%;
}

.frame-2136137201-62 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 100px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 79.16666666666666%;
}

.text-69 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.text-70 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137191-68 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 20px 0px 20px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
}

.text-72 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.text-73 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137194-71 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 20px 0px 20px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
}

.text-75 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.text-76 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137195-74 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 20px 0px 20px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
}

.text-78 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.text-79 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137196-77 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 20px 0px 20px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
}

.text-81 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.text-82 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137197-80 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 20px 0px 20px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
}

.text-84 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.text-85 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137198-83 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 20px 0px 20px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
}

.frame-2136137194-67 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-88 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.text-89 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137194-87 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 20px 0px 20px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
}

.text-91 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.text-92 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137197-90 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 20px 0px 20px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
}

.text-94 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.text-95 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137191-93 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 20px 0px 20px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
}

.text-97 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.text-98 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137195-96 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 20px 0px 20px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
}

.text-100 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 20px;
  line-height: 28px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.text-101 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 700;
  font-size: 28px;
  line-height: 36px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-rgb-17-17-17);
}

.frame-2136137196-99 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 8px;
  padding: 20px 0px 20px 0px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border-bottom: 1px solid rgba(85, 85, 85, 1);
}

.frame-2136137202-86 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 0px;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
}

.frame-2136137203-66 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 200px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 79.16666666666666%;
}

.frame-2136137204-61 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 40px;
  padding: 0px 200px 0px 200px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

.text-104 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: normal;
  font-size: 60px;
  letter-spacing: -1.6399999856948853px;
  line-height: 72px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-white);
}

.vector-3-105 {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  border: 1px solid rgba(255, 255, 255, 1);
  border: none;
  outline: none;
}

.frame-2136137181-103 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 40px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 93.6842105263158%;
}

.frame-2136137184-102 {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 4px;
  padding: 48px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 79.16666666666666%;
  background-color: rgba(0, 51, 255, 1);
  border-radius: 48px;
}

.text-107 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  font-family: var(--font-family-inter);
  font-weight: 500;
  font-size: 20px;
  line-height: 24px;
  text-decoration: none;
  text-transform: none;
  color: var(--text-black);
}

.vector-4-109 {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  border: 2px solid rgba(0, 0, 0, 1);
  border: none;
  outline: none;
}

.frame-2136137200-108 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 24px;
  padding: 0px;
  flex-grow: 0;
  flex-shrink: 1;
  width: 24.427480916030532%;
  background-color: rgba(255, 255, 255, 1);
  border-radius: 48px;
}

.frame-2136137199-106 {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 24px;
  padding: 12px 12px 12px 32px;
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  backdrop-filter: blur(32px);
  background-color: rgba(0, 51, 255, 0.1);
  border-radius: 60px;
}

.landing-1 {
@media (max-width: 1440px) {
  .landing-1 {
    padding-left: 24px;
    padding-right: 24px;
  }
}

@media (max-width: 768px) {
  .landing-1 {
    padding-left: 16px;
    padding-right: 16px;
  }
}
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: rgba(255, 255, 255, 1);
}
